@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a href="https://linkedin.com/in/petar-i-ivanov">LinkedIn</a><br />
    <a href="https://github.com/Petar-I-Ivanov">GitHub</a>
</address>